@import "tailwindcss";
@theme {
  --color-backgroundColor: #1c1c1c;
  --color-mainColor:#4B2E2B;
  --color-highlightColor:#E4B165;
}
.MuiSvgIcon-root:hover {
  color: #e4b165;
  height: 30px;
  width: 30px;
  transition: all 0.3s ease-in-out;
}
.poster-back {
  background-image: url("./assets/poster-bg.png");
  background-position: center;
  background-size: 90% 94%;
  background-repeat: no-repeat;
  padding-bottom: 25px;
}
.title {
  font-family: "Rubik Dirt";
  color: #9b0808;
  letter-spacing: 4px;
  text-align: center;
  text-shadow: 2px 2px 0 #00000022, 4px 4px 0 #00000011;
}
.holdText {
  font-family: "Rubik Dirt";
  color: #9b0808;
  letter-spacing: 4px;
  text-align: center;
  text-shadow: 2px 2px 0 #00000022, 4px 4px 0 #00000011;
}
.lodingPos {
  background-image: url(./assets/poster-bg.png);
  background-position: center;
  background-size: 90% 94%;
}
body {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
h1 {
  color: yellow;
  font-family: "Playfair Display", serif;
}
.scrollBar {
  overflow: auto;
}
.scrollBar::-webkit-scrollbar {
  width: 5px;
}
.scrollBar::-webkit-scrollbar-thumb {
  background-color: #e4b165;
}
.scrollBar::-webkit-scrollbar-track {
  background-color: #4b2e2b;
}
.poster {
  animation: slide 20s linear infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  input {
    width: 68%;
  }
  .dropDownMenu {
    margin-top: 100%;
  }
  .poster {
    animation: slide 20s linear infinite;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-800%);
    }
  }
}
